html {
    scroll-padding-top: 64px; /* height of sticky navbar */
}

body{
    background-color:rgb(245, 245, 245);
    margin: 0px;
}


.content {
    padding: 16px;
    color: black;
}

#sticky_nav {
    background-color: rgb(20, 20, 20);
    margin: 0;
    overflow: hidden;
    position:-webkit-sticky;    
    position: sticky;
    top: 0;
    z-index: 1;
}

#sticky_nav a {
    color: white;
    float: right;
    display: block;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
}

#sticky_nav a:hover {
    background-color: rgb(231, 231, 231);
    color: rgb(20, 20, 20);
}

.title {
    text-align: center;
}

#greeting {
    padding-top: 40px;
    font-family: 'Oxygen', sans-serif;
    font-size: 60px;
    padding-bottom: 20px;
}

#headline {
    font-size: 18px;
    font-family: 'Roboto Mono', monospace;
    max-width: 900px;
    margin: auto;
}

.dotted {
    border-top: 3px dashed rgb(165, 165, 165);
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.component {
    width: 80%;
    max-width: 1000px;
    /* min-width: 600px; */
    margin-left: auto;
    margin-right: auto;
    /* height: 300px; */
}

.component_title {
    font-size: 35px;
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    display: block;
}


.component_body {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 18px;
    font-family: 'Roboto Mono', monospace;
    max-width: 500px;
    display: inline-block;
    float: left;
    vertical-align: top;
    text-align: left;
}

.contact_body  {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 18px;
    font-family: 'Roboto Mono', monospace;
    max-width: 800px;
    display: inline-block;
    float: left;
    vertical-align: top;
    text-align: left;
}

.component_image {
    display: inline-block;
    float: right;
    /* margin-bottom: 30px; */
}

@media only screen and (max-width: 1000px) {
    .component_image {
        display: none;
    }
}

#portrait {
    width: 260px;
    border-radius: 20px;
}

.icons {
    display: inline-block;
    float: right;
    width: 50px;
    cursor: pointer;
    padding-left: 20px;
}

.resume_button {
    background-color:rgb(245, 245, 245);
    margin-top: 5px;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    cursor: pointer;
    height: 35px;
    border-radius: 8px;
}

.resume_button:hover {
    background-color: rgb(20, 20, 20);
    color: white;
    border-color: white;
}

.resume_button:active {
    transform: translateY(4px);
}

.experience_grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    /* padding: 10px; */
    /* grid-row-gap: 10px; */
}

.grid_item {
    border: 2px solid black;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: block;
    position: relative;
}

.grid_image {
    width: 270px;
    height: 270px;
    object-fit: scale-down;
    display: block;
}

.overlay {
    /* display: none; */
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.5s ease;
    cursor: pointer;
    position: absolute;
}

.overlay:hover {
    opacity: 1;
}

.overlay_text {
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    line-height: 150%;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    width: 90%;
    /* margin-left: auto;
    margin-right: auto; */
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}